<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <form method="post" action="/listings">
        <input type="text" name="title" placeholder="Enter title">
        <br>
        <textarea type="text"  name="description" placeholder="Enter description"></textarea>
        <br>
        <input type="text" name="image" placeholder="Enter image URL/link">
        <br>
        <input type="text" name="price" placeholder="Enter price">
        <br>
        <input type="text" name="location" placeholder="Enter location">
        <br>
        <input type="text" name="country" placeholder="Enter country">
        <br>
    </form>
</body>
</html>